.login {
  display: inline-block;
  margin: 1rem;
}
.login__row {
  padding-bottom: 1rem;
}
.login__label {
  display: inline-block;
  width: 7rem;
}
.login__nolabel {
  margin-left: 7rem;
}
.login__input {
  font-size: 1rem;
  width: 20rem;
  padding: 0.3rem .5rem 0.2rem;
}
.login__error {
  color: brown;
}
.login__submit {
  padding: 0.3rem .5rem 0.2rem;
  font-size: 1rem;
  cursor: pointer;
}